<!DOCTYPE html>
<html>
<head>
	<title>The Ideas Board App</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header class="main-header">
		<h1>Ideas Board App</h1>
	</header>
	<main>
		<h2 class="board-page-title"> One day I definitely will... </h2>
		<section class="cards-container">
{{!-- 		<article class="card">
				<p class="card-title">Idea title </p>
				<img width="150" height="150" src="http://via.placeholder.com/150x150">
			</article>
--}}

		</section>
	</main>
	<script src="client.js"></script>
</body>
</html>