<!DOCTYPE html>
<html>
<head>
	<title>The Ideas Board App</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1 class="main-header">This is an Ideas Board App</h1>
	<section class="ideas-container">
		<h2>Need some inspiration?</h2>
	</section>
{{!-- 	<p>Need an idea? </p>
	<ul>
		<li>ideas.title</li>
		<li>ideas.title</li>
	</ul> --}}
	<script src="client.js"></script>
</body>
</html>