<!DOCTYPE html>
<html>
<head>
	<title>The Ideas Board App</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1 class="main-header">Ideas Board App</h1>
	<section class="introduction-description">
		<p>Create your own board of inspirational things you wish to do one day</p>
	</section>
	<div class="flex-wrapper">
		<div class="choose-block">
			<section class="input-ideas">
				<form>
					<legend class="input-ideas-title"> Type your idea here! </legend>		
						<input type="text" name="idea-input">
						<input type="submit" value="Add">

				</form>
			</section>
			<section class="examples-container">
				<h3>Need some inspiration?</h3>
			</section>
		</div>
		<section class="list-of-selected">
			<h3 class="selected-title">Your List of Selected</h3>
			<ul class="selected-idea">
				<li class="my-comments">placeholder</li>
				<li class="my-comments">placeholder</li>
				<li class="my-comments">placeholder</li>
			</ul>
			<button class="create-board-button">CREATE A BOARD</button>
		</section>
	<div>

	<script src="client.js"></script>
</body>
</html>