<!DOCTYPE html>
<html>
<head>
	<title>The Ideas Board App</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header class="main-header">
		<h1>Ideas Board App</h1>
	</header>
	<main>
		<section class="introduction-description">
			<p>Create your own board of inspirational things you wish to do one day</p>
		</section>
		<div class="flex-wrapper">
			<div class="choose-block">
				<section class="input-ideas">
					<form method="POST" action="/ideas-board">
						<legend class="input-ideas-title"> Type your idea here! </legend>		
							<input type="text" name="idea">
							<input type="submit" value="Add">

					</form>
				</section>
				<section class="examples-container">
					<h3 class="examples-title">Need some inspiration?</h3>
				</section>
			</div>
			<section class="list-of-selected">
				<h3 class="selected-title">Your List of Selected</h3>
				<ul class="selected-ideas-list">
			{{!-- 		<li class="my-comments">placeholder</li>
					<li class="my-comments">placeholder</li>
					<li class="my-comments">placeholder</li> --}}
				</ul>
				<button class="create-board-button"><a href="/ideas-board">CREATE A BOARD</a></button>
			</section>
		<div>
	</main>

	<script src="client.js"></script>
</body>
</html>