<!DOCTYPE html>
<html>
<head>
	<title>The Ideas Board App</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1 class="main-header">This is an Ideas Board App</h1>
	<div class="flex-wrapper">
		<div>
			<section class="input-ideas">
				<form>
					<legend> Type your idea here! </legend>		
						<input type="text" name="idea-input">
						<input type="submit" value="Add">

				</form>
			</section>
			<section class="examples-container">
				<h2>Need some inspiration?</h2>
			</section>
		</div>
		<section class="list-of-selected">
			<h3>Your List of Selected</h3>
			<ul class="selected-idea">
			<ul>
				<p class="my-comments">there will be a list here</p>
			<button>CREATE A BOARD</button>
		</section>
	<div>

	<script src="client.js"></script>
</body>
</html>