<!DOCTYPE html>
<html>
<head>
	<title>The Ideas Board App</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1 class="" >This is an Ideas Board App</h1>
{{!-- 	<p>Need an idea? </p>
	<ul>
		<li>ideas.title</li>
		<li>ideas.title</li>
	</ul> --}}
</body>
</html>